#contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-option {
margin: 10px 0;
width: 300px;
}

.contact-option a {
    color: var(--dark-blue);
    font-weight: 700;

}


.contact-option i{
    margin: 0 10px;
    width: 20px;
    }
    
p {
    justify-self: center;

}