.section h2 {
    width: 100%;
    text-align: left;
}

#available-positions {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    padding: 0;
}




#available-positions>li{
    margin: 50px 0;
    background-color: #fafafa;
    color: #001c3a;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
}

ul li h3{
    font-weight: 700;
}

#available-positions h3 {
    color: var(--dark-blue);
}


#available-positions li h4{
    font-weight: 600;
    margin-bottom: 10px;
}

#available-positions>li>ul{
    list-style-type: disc;
    line-height: 1.5rem;
}


#available-positions li i{
    margin-right: 10px;
}
/* 
#faq {
    display: flex;
    justify-content: center;
}

#faq h2{
    text-align: center;
}

#faq ul li{
margin-bottom: 30px;
}

#faq ul li p {
    font-weight: 400;
    width: 100%;
    text-align: center;
} */

.benefit-ranks {
    font-size: 8rem;
}