html{
    scroll-behavior: smooth;
}

body {

    background: #fafafa;
    margin: 0 0;
    margin-top: 0;
    width: 100%;
    height: auto; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header {
    display: flex; 
    align-items: center;
    position: fixed;
    z-index: 100;
    height: 50px;
    top: 0px;
    left: 0px;
   background: transparent;
   width: 100%;
   
  
   font-size: 30px;
   padding: 0px 20px;
   transition: 0.5s all;
}
header .headerLogo {
    display: flex;
    align-items: center;
}

header img {
    display: inline;
    position: relative;
    left: 0;
    height: 50px;
    width: auto;
    padding: 0 10px;
}

header .headerLogo h1 {
    display: inline;
    font-weight: 800;
    background: -webkit-linear-gradient(0deg, #27fb6b  20%,  #00b4d8 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0px 0px 100px #27fb6a5e;
  line-height: 50px;
}

button {
    border-radius: 20px;
    background: transparent;
    border: 1px solid black;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
}

img {
    width: 300px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
    height: auto;
    box-shadow: -100px 0px 1000px 100px inset #00b4d80a, 100px 0px 1000px 100px inset #27fb6a0e;
    padding: 50px 80px;
    font-size: 25px;

}

.section:nth-child(2n+1){
    background-color: #11296B;
    color: #fafafa;
}

.section h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 0 0 100%;
    height: 200px;
    font-size: 40px;
    font-weight: 900;

}

.section h1::after {
    content: "";
    display: flex;
    width: 100%;
    height: 10px;
    background-color: #00b4d8;
    position: relative;
    left:0px;
    top:0px;
    margin: 15px 0;
}


.landingPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 2%;
    width: 96%;
    background: #fafafa;
    padding-top: 100px;
    /* background: -moz-linear-gradient(270deg, rgba(17, 41, 107) 0%, rgba(0, 180, 216,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(17, 41, 107) 0%, rgba(0, 180, 216,1) 100%);
    background: linear-gradient(270deg, rgba(17, 41, 107,1) 0%, rgba(0, 180, 216,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#11296B",endColorstr="#00B4D8",GradientType=1); */
    box-shadow: -100px 0px 1000px 100px inset #00b4d80a, 100px 0px 1000px 100px inset #27fb6a0e;

}



img.emoji {
    display: inline-block;
    align-self: center;
    margin: 0 10px;
    bottom: 0;
    width:1.5em;
    height: 1.5em;
}




.section .left{
    display: flex;
    flex: 1 0 49%;
    height: auto;
    flex-wrap: wrap;
 
}



.section .right {
    display: flex;
flex: 1 0 49%;
    height:  auto;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.right img {
    height: auto;
    width: 80%;
}


.landingPage h1 {
    
    display: inline;
 text-align: left;
    position: relative;
    margin: 0;
    left: 0%;
    top: 0%;
    flex: 0 0 60%;
    font-size: 26px;
    padding: 0 20%;
    word-spacing: 10px;
    font-weight: 500;
    /* height: 50%; */
    line-height: normal;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  background: -webkit-linear-gradient(0deg, #27fb6b  40%,  #00b4d8 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0px 0px 100px #27fb6a5e;
  
}





.landingPage .landing-image {
    height: auto;
    width: 80%;
   
    /* box-shadow: 0px 0px 1000px 10px inset #00b4d833, 0px 0px 1000px 10px #00b4d833; */
}


.elaborate {
    background: rgba(39,251,107,1);
}

#intro ul {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 100px 1px #aaa;
    border-radius: 10px;
}

#intro li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex: 0 0 100px;
 margin-bottom: 50px;
 padding: 15px;
 border-right: 1px solid #aaa;
}

#intro li:nth-last-child(1){
    border-right: none;
}

#intro li h3{
    margin-bottom: 80px;
    font-size: 30px;
    font-weight: 600;
}

#intro li p {
    margin-top: 30px;
    font-size: 20px;
}


#wherenow .project-stages {
    flex: 0 0 400px;
    border: 1px solid #11296B;
    border-radius: 10px;
}


 #soonPage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    box-shadow: 0px 0px 1000px 10px inset #00b4d823;
    box-shadow: -100px 0px 1000px 100px inset #00b4d811, 100px 0px 1000px 100px inset #27fb6a15;
}

#soonPage .left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
}





footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 900;
    text-align: center;
    color: rgb(0,180,216);
    box-shadow: 0px 0px 1000px 10px inset #00b4d823;
}

@media screen and (max-width: 400px) {
    .landingPage h1 {
        font-size: 80px;
    }
}
