
@font-face {
    font-family: Plaster;
    src: url(./Fonts/Plaster-Regular.ttf) format('truetype');
    /* font-family: GilroyXBold;
  src: url(./Gilroy-ExtraBold.ttf) format('truetype');
    font-family: GilroyLight;
    src: url(./Gilroy-Light.ttf) format('truetype'); */
}

html{
    scroll-behavior: smooth;
}

body {

    background: #fafafa;
    margin: 0 0;
    margin-top: 0;
    width: 100%;
    height: auto; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



.box-overlay {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: -100px;
    left:0px;
    justify-content: center;
    height: auto;
    
    z-index: 10;
}
.box-overlay div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    background:#fafafa;
    color: #001c3aaa;
    height: 100%;
    width: 50%;
    line-height: 1.5em;
    padding: 20px;
    box-shadow: 0px 0px 40px 1px #aaa, -1px 0px 10px 1000px inset #00b4d80a, 1px 0px 10px 1000px inset #27fb6a0e;;
}

.box-overlay div h3{
    color: #001c3a;
    text-align: left;
    font-size: 30px;
    font-weight: 900;
    flex: 0 0 100%;
}
.box-overlay div h3::after{
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #00b4d8;
}

.box-overlay div ul{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;   
    font-size: 20px;
    font-weight: 500;   
width: 200px;
justify-content: center;
}
.box-overlay div ul li{
    width: 200px;
    text-align: left;
}


.box-overlay i {
    padding-right: 10px;
}

header {
    display: flex; 
    align-items: space-between;
    position: fixed;
    z-index: 100;
    height: 50px;
    top: 0px;
    left: 0px;
   background: transparent;
   width: 100%;
   /* font-family: 'Plaster', 'Times New Roman', Times, serif; */
  
   font-size: 30px;
   padding: 0px 20px;
   transition: 0.5s all;
   box-shadow: none;
}
header .headerLogo {
    display: flex;
    align-items: center;
    flex: 39%;
    
}

header img {
    display: inline;
    position: relative;
    left: 0;
    height: 2em;
    width: auto;
    padding: 0 0;
    padding: 0 10px;
}

header .headerLogo h1 {
    display: inline;
    font-weight: 900;
    background: -webkit-linear-gradient(0deg, #001c3aff  0%,  #00b4d8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 100px #27fb6a5e;
  line-height: 50px;
}

header .headerSections {
    flex: 0 0 0%;

}

header .headerSocials {
    display: flex;
    flex: 1 0 10%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

header .headerSocials button {
    display: flex;
    align-items: center;
    margin-right: 20px;
    height: 30px;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid #001c3aff;
}
header .headerSocials button:hover {

    height: 30px;
    font-size: 15px;
    color: #00b4d8;
    border: 2px solid #00b4d8;
}



header .headerSocials a {
    text-decoration: none;
    color: #001c3aff;
    margin-right: 15px;
    /* height: 60px;
    width: 60px;
    font-size: 50px; */
}

header .headerSocials a:hover {

    color: #00b4d8;

}









button {
    border-radius: 20px;
    background: transparent;
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

img {
    width: 240px;
}

.section {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    min-height: 600px;
    height: auto;
    box-shadow: -100px 0px 1000px 100px inset #00b4d80a, 100px 0px 1000px 100px inset #27fb6a0e;
    padding: 50px 80px;
    font-size: 25px;
  
    /* width: 100%; */
}

.section:nth-child(2n){
    background-color: #fafafa;
    color: #001c3aff;

}

.section:nth-child(2n+1){
    background-color: #001c3aff;
    color: #fafafa;
    /* box-shadow: 0 100px 100px 10px inset #fafafa, 0 -100px 100px 10px inset #fafafa; */
}

.section h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 0 0 100%;
    height: 200px;
    font-size: 50px;
    font-weight: 900;

}

.section h1::after {
    content: "";
    display: flex;
    width: 100%;
    height: 10px;
    background-color: #00b4d8;
    position: relative;
    left:0px;
    top:0px;
    margin: 15px 0;
}

.section h2 {
    width: 100%;
    font-weight:900;
    margin:100px 0;
    line-height: 1.5em;
}




img.emoji {
    display: inline-block;
    align-self: center;
    margin: 0 10px;
    bottom: 0;
    width:1.5em;
    height: 1.5em;
}




.section .left{
    display: flex;
    flex: 1 0 60%;
    height: auto;
    flex-wrap: wrap;
 
}



.section .right {
    display: flex;
flex: 1 0 39%;
    height:  auto;
    align-items: center;
    justify-content: center;
    padding: 0 0px;
    flex-wrap: wrap;
}

.right img {
    height: auto;
    width: 80%;
}


/*INDIVIDUAL SECTION DEFINITIONS*/

.landingPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 2%;
    width: 96%;
    background: #fafafa;
    padding-top: 100px;
    /* background: -moz-linear-gradient(270deg, rgba(17, 41, 107) 0%, rgba(0, 180, 216,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(17, 41, 107) 0%, rgba(0, 180, 216,1) 100%);
    background: linear-gradient(270deg, rgba(17, 41, 107,1) 0%, rgba(0, 180, 216,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#11296B",endColorstr="#00B4D8",GradientType=1); */
    box-shadow: -100px 0px 1000px 100px inset #00b4d80a, 100px 0px 1000px 100px inset #27fb6a0e;
    z-index: 10;
}

.landingPage .background-box {

    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    right: 0px;
    top: 0px;
    background: #27fb6b;
    transform: rotate(-50deg);
    z-index: -1;



}


.landingPage h1 {
    
    display: inline;
 text-align: center;
    position: relative;
    margin: 0;
    left: 0%;
    top: 0%;
    flex: 0 0 60%;
    font-size: 26px;
    padding: 0 20%;
    word-spacing: 10px;
    font-weight: 500;
    /* height: 50%; */
    line-height: normal;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  background: -webkit-linear-gradient(0deg, #001c3aff  0%,  #00b4d8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0px 0px 100px #27fb6a5e;
  
}



.landingPage h1::after {
    display: none;
}





.landingPage .landing-image {
    height: auto;
    width: 80%;
   
    /* box-shadow: 0px 0px 1000px 10px inset #00b4d833, 0px 0px 1000px 10px #00b4d833; */
}


.elaborate {
    background: rgba(39,251,107,1);
}


#pre-intro {
    position: relative;
    z-index: 2;
    justify-content: center;
    overflow: hidden;
}
#pre-intro q{
    text-align: left;
    z-index: 3;
    /* text-shadow: 0px 0px 5px rgba(170, 170, 170, 0.393); */
    line-height: 1.3em;
}

#pre-intro q p{
    flex: 0 0 100%;
    color:#efefef;
  }

#pre-intro q i{
  padding: 0 10px;
  color: #fafafa;
}

#pre-intro .rotated-box {
    display: block;
    position: absolute;
    width: 800px;
    height: 800px;
    top: 0px;
    left: 0px;
    background: #27fb6b55;
    transform: rotate(-50deg);
    z-index: 2;
    /* box-shadow: 0px 0px 50px 1px #000; */
}
    
#thegoal {
    padding: 50px 0;

}

#thegoal h1,h2 {
    padding: 0 80px;
    box-sizing: border-box;
}

#thegoal h2 {
    margin:20px 0;
    font-weight: 700;
}

#thegoal>p {
    padding: 0 80px 0 100px;
    box-sizing:border-box;
    font-weight: 500;
    color:#001c3aaa;

}

#thegoal #goals-carousel {
        /* display:flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap; */
        /* box-shadow: 0px 0px 100px 1px #aaa; */
        /* display: flex;
        flex: 0 0 100%; */
        display: flex;
        width: 100%;
        left: 0px;
        color: #fafafa;
        height: auto;
        box-sizing: border-box;
        overflow: hidden;
        align-items: flex-start;
    }



    #goals-carousel .slick-next::before {
        display: none;
        content:"\203A";
        color: var(--ic-blue);
        position: absolute;
        left: 0px;
        top: -150px;
        font-size: 200px;
        z-index: 100;
        animation: cubic-bezier(0.175, 0.885, 0.32, 1.275) 4s lead-buttons-left infinite;
    }
    
    #goals-carousel .slick-prev::before {
        display: none;
        content:"\2039";
        position: absolute;
        color: var(--ic-blue);
        right: 0px;
        top: -150px;
        font-size: 200px;
        z-index: 100;
        animation: cubic-bezier(0.175, 0.885, 0.32, 1.275) 4s lead-buttons-right infinite;
    }


#thegoal .slick-slide{
        /* display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        flex: 0 0 100%;
        min-height: 400px;
        height: auto; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 500px;
     margin: 40px 50px;
flex-wrap: wrap;
     padding: 20px;
     border-right: 1px solid #aaa;
     background: #001c3aff;
     border-radius: 10px;
     box-shadow: 0px 0px 40px 10px #00b4d823;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
    }

#thegoal div h3 {
    flex: 0 0 100%;
    font-size: 24px;
    padding: 10px 0px 0 10px;
    font-weight: 700;
}

#thegoal div p {
    flex: 0 1 50%;
    font-size: 15px;
    opacity: 0.8;
    padding-left: 7px;
    box-sizing: border-box;
}

#thegoal div img {
    flex: 1 0 49%;
    height: 100%;
    padding: 40px 0 80px 0;
    box-sizing: border-box;
}

#intro {
    z-index: 11;
}

#intro h2 {
    padding: 50px 0;
    font-weight: 700;
}



#intro ul {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* box-shadow: 0px 0px 100px 1px #aaa; */
    border-radius: 10px;
    
    color: #fafafa;
    min-height: 700px;
    height: auto;
}

#intro li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex: 0 0 50px;
    min-height: 300px;
    height: auto;
 margin-bottom: 40px;
 padding: 15px;
 border-right: 1px solid #aaa;
 background: #001c3aff;
 border-radius: 10px;
 box-shadow: 0px 0px 20px 1px #aaa;
}

.pillar {
    width: 80px;
    height: auto;
}
/* #intro li:nth-child(1){
    padding-bottom: 70px;
}


#intro li:nth-child(2){
    padding-top: 100px;
}

#intro li:nth-child(3){
    padding-bottom: 70px;
}


#intro li:nth-child(4){
    padding-top: 100px;
} */



#intro li:nth-last-child(1){
    border-right: none;
}

#intro li h3{
    margin-bottom: 80px;
    font-size: 24px;
    font-weight: 600;
}

#intro li p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5em;
}

#wherenow {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-x: auto;
}


#wherenow .timeline {
    flex: 0 0 1%;
    background-color: #00b4d8;
    margin: 0 4%;
}


#wherenow .project-stages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 0 40%;
    border-radius: 10px;
    border: 1px solid #00b4d8;
    min-height: 300px;
    height: auto;
    margin:100px 25px 0 25px;
    padding: 30px;
    box-shadow: 0px 0px 20px 1px #aaa;
    line-height: 1.1em;
    color: #001c3aaa;
}

#wherenow .layers {
    display: flex;
    flex: 0 0 100%;
        height:  auto;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 0px;
        flex-wrap: wrap;
}

#wherenow .layers>div:nth-last-child(1) {
    margin-top: 250px;
}

.project-stages h3 {
    flex: 0 0 100%;
    font-weight: 700;
    color: #001c3aff;
    font-size: 30px;
    padding-bottom: 30px;
    line-height: 1.3;
}
.project-stages h3 span {
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    background: green;
    border-radius: 9999px;
    animation: green-flash 3s cubic-bezier(0.075, 0.82, 0.165, 1) 1s infinite;
    opacity: 1;
    padding: 2px;
}

@keyframes green-flash {
    0% {
        opacity: 1;
    }
    
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.project-stages p {
    flex: 0 0 49%;
    font-weight: 500;
    font-size: 18px;
}

.project-stages .project-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
    font-weight: 500;
    font-size: 50px;
    padding-top:20px;
    box-sizing: border-box;

}

.project-stages .project-image i {

    margin-left: 20px;
}

.project-stages .project-image i:nth-child(2n) {
    margin-top: 20px;

}

.project-stages img {
    height: 120px;
    width: auto;
    border-radius: 10px;
}


.project-stages h4 {
    flex:0 0 100%;
    font-weight: 500;
    flex: 0 0 100%;
    text-align:center;
    margin-top:40px;
    color:#aaaaaaaa;
    font-size: 18px;
}

#inspiring {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

#inspiring .quotation-mark {
    height: 150px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    
}


/* #theapp li {
    flex: 0 0 200px;
    height: 200px;
    margin: 10px 10px;
    border: 1px solid #001c3aff;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
} */
#theapp h2 {
    padding: 50px 0;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0;
}

#theapp ul {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    /* box-shadow: 0px 0px 100px 1px #aaa; */
    border-radius: 10px;
    
    color: #001c3aff;
    min-height: 300px;
    height: auto;
}

#theapp li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex: 0 0 300px;
    min-height: 300px;
    height: auto;
 margin-bottom: 40px;
 padding: 15px;
 border-right: 1px solid #aaa;
 border-radius: 0px;
 /* box-shadow: 0px 0px 40px 10px #aaa; */
font-size: 16px;
font-weight: 500;
line-height: 1.5em;
color: #001c3aaa;
}

#theapp li:nth-last-child(1){
    border: none;
}

#theapp li em {
    display: block;
    text-align: left;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 25px;
    color: #001c3aff;
}

#thecommunity {
    justify-content: space-around;
}

#thecommunity .joinSocial {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 0 300px;
    height: 300px;
    box-shadow: 0px 0px 20px 1px #aaa;
    border-radius: 10px;
    padding: 40px;
    margin: 50px 0;
    box-sizing: border-box;
    transition: 0.5 all;
}

#thecommunity .joinSocial h3{
    text-align: center;
    text-transform:uppercase;
    flex: 0 0 100%;

}
#thecommunity .joinSocial i{
    text-align: center;
    flex: 0 0 100%;
    font-size: 72px;
    margin: 10px 0;
}
#thecommunity .joinSocial p{
    
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.5em;
    color:rgba(170, 170, 170, 0.893);
}

#thecommunity .joinSocial .blur{
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   filter:blur(1px);
    background: #001c3aaa;
   top: 0px;
   left: 0px;
   border-radius: 10px;
   transition: 0.5s all;
   opacity: 0;
}


#thecommunity .joinSocial button{
    display: block;
    position: absolute;
    top: 90px;
    height: 50px;
    width: 80%;
    background: #27fb6b;
    margin: 10px 0;
    transition: 0.5s all;
    opacity: 0;
}

#thecommunity .joinSocial:hover{

    cursor: pointer;
    opacity: 1;
}

#thecommunity .joinSocial:hover button, .joinSocial:hover .blur{
    display: block;
    background: #27fb6b;
    cursor: pointer;
    opacity: 1;

}

#thecommunity .joinSocial:hover .blur{
    display: block;
    opacity: 1;

}

#missionPage {
    margin-bottom: 400px;
}

#missionPage button:hover {
    background: #00b4d8;
    font-size: 70px;
    box-shadow: 0 5px 10px 1px #444;

}


 #soonPage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    box-shadow: 0px 0px 1000px 10px inset #00b4d823;
    box-shadow: -100px 0px 1000px 100px inset #00b4d811, 100px 0px 1000px 100px inset #27fb6a15;
    margin-bottom: 400px;
}

#soonPage .left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
}





footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    flex-wrap: wrap;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 900;
    text-align: center;
    color: #fafafaaa;
    box-shadow: 0px 0px 1000px 10px inset #00b4d823;
    background: #001c3a;
    height: 400px;
    z-index: -1;
}

@media screen and (max-width: 500px) {
    header{
        padding: 0 0;
    }
    header .headerSocials a {
        margin-right: 10px;
    }
    
    .section {
        padding: 50px 20px;
    }
    .landingPage {
        width:100%;
        padding: 50px 0%;
    }
    .landingPage h1 {
        padding: 30px 0;

    }
    .landingPage .left {
        justify-content: center;
    }
    .section h2 {
        width: 100%;
        font-weight:900;
        margin:0px 0;
        line-height: 1.5em;
    }
    #thegoal h1,h2 {
        padding: 0 20px;
    }
    #thegoal .slick-slide{
     
        height: 600px;
        width: 300px;
     
    }
    #thegoal .slick-slide p{
     
        flex: 0 0 100%;
     
    }
}
